/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

/* W3CSS Template */
.w3-content {
    max-width: 1200px;
    background: #fff;
}

/* Sidebar */
.w3-sidebar {
    background: #232F3E;
    color: #eee;
    z-index: 3;
    width: 250px;
}

.w3-sidebar a {
    font-family: "Roboto", sans-serif;
}

.mobile-view{
    background: #232F3E;
    color: #eee;
}

/* Sidebar end */

body,h1,h2,h3,h4,h5,h6,.w3-wide {
    font-family: "Montserrat", sans-serif;
}

.main-display {
    /*color: #fb0505;*/
    color: #ff9900;
    padding: 24px 48px;
}

/* W3CSS Template end */

/* Subscribe */
.subscribe-color {
    background-color: #232F3E;
    color: #eee;
}

/* Subscribe  end */

/* Contact button */
.large-button{
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Contact button  end */

/* GDPR link */
.gdpr-link{
    text-decoration: none; 
    color: #ff9900;   
}
.gdpr-link:hover{
    text-decoration: underline;    
}
/* GDPR link  end */

/* shipment link */
.shipment-link{
    text-decoration: none;  
    color: #ff9900;   
}
.shipment-link:hover{
    text-decoration: underline;  
}
/* shipment link  end */

/* payment section */
.payment-section{
    text-align: justify;
}
.payment-label{
    font-weight: bold;
}
/* payment section end */

/* Footer */
.powered-color {
    background-color: #131A22;
    color: #eee;
}

/* Footer end */


